{% extends 'application/base.html' %}

{% block styles %}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/users/users.css' %}"/>
{% endblock %}

{% block content %}

    {% if messages %}
        <div class="alert {{ message.tags }}" role="alert">{{ message }}</div>
    {% endif %}

    {% if user %}
        <div class="container">
            <div class="jumbotron jumbo-container">
                <form method='POST' action="{% url 'subby:user_edit' user.id %}">{% csrf_token %}
                    <fieldset class="edit-disabled-fieldset" disabled>
                        <div class="form-group">
                            <p><strong>Account: </strong></p>
                            <input name='email' type="text" placeholder=" " value="{{ user.email }}"
                                   class="form-control"/>
                        </div>
                        <div class="form-group">
                            <p><strong>First name: </strong></p>
                            <input name='first' type="text" placeholder=" " value="{{ user.first_name }} "
                                   class="form-control"/>
                        </div>
                        <div class="form-group">
                            <p><strong>Last name: </strong></p>
                            <input name='last' type="text" placeholder=" " value="{{ user.last_name }}"
                                   class="form-control"/>
                        </div>
                        <div class="form-group">
                            <p><strong>Phone number: </strong></p>
                            <input type="text" id="account-page-pn" name="phone" class="form-control"
                                   placeholder="Phone Number"
                                   value="{{ phone_number }}">
                        </div>
                    </fieldset>

                    <button type="submit" class="btn btn-secondary acc-submit-btn" style="display: none;">Submit
                        Changes
                    </button>
                </form>
                <button type="button" class="btn btn-secondary edit-btn">Edit</button>
            </div>
        </div>
    {% else %}
        <p>Invalid user ID</p>
    {% endif %}
{% endblock %}