# Compiled
__pycache__/
*.py[cod]
*$py.class

# Ignore Python Virtualenv folders
bin/*
include/*
lib/*
pip-selfcheck.json

# Ignore coverage stuff
.coverage
htmlcov/*

# Yay JS
node_modules/

# Ignore editor-specific cruft
.vscode/
