{% extends 'application/base.html' %}

{% block content %}
    <div class="container">
        <div class="jumbotron jumbo-container">
            <div class="container">
                <h1 class="display-4">Create a sublet listing</h1>
                <p class="lead">Enter the following information</p>
                <hr class="my-4">
                {% if create_sublet_error %}
                    <div class="alert alert-danger fade show" role="alert" id="error-container">
                        <h4 class="alert-heading">Error</h4>
                        <p>{{ create_sublet_error }}</p>
                        <button type="button" class="close" onclick="$('.alert').hide()" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endif %}
                <form method="POST" action="{% url 'subby:create_sublet' %} " enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="listing-title">Listing Name:</label>
                        <input type="text" class="form-control" id="listing-title" name="title"
                               aria-describedby="Listing Name" placeholder="Enter Listing Name">
                        <br>
                        <label for="pac-input">Search an address:</label>
                        <input id="pac-input" class="controls form-control" type="text"
                               placeholder="Enter Address" autocomplete="off"/><br/>
                        <div id="map" style="height: 250px;"></div>
                        <div id="infowindow-content">
                            <img src="" width="16" height="16" id="place-icon">
                            <span id="place-name" class="title"></span><br>
                            <span id="place-address"></span>
                        </div>
                        <label for="street_address">Street Address:</label>
                        <input type="text" class="form-control" name="street_address" id="street_address"
                               aria-describedby="Street Address" placeholder="Enter Address">
                        <label for="city">City:</label>
                        <input type="text" class="form-control" name="city" id="city"
                               aria-describedby="City Name" placeholder="Enter City Name">
                        <label for="postal_code">Postal Code:</label>
                        <input type="text" class="form-control" name="postal_code" id="postal_code"
                               aria-describedby="Postal Code" placeholder="Enter Postal Code">
                        <label for="price">Price:</label>
                        <input type="text" class="form-control" name="price" id="price"
                               aria-describedby="Price" placeholder="Enter Listing Price">
                        <label for="listing-description">Description:</label>
                        <textarea class="form-control" name="description" id="listing-description"
                                  aria-describedby="Description" placeholder="Enter Description" rows="10"></textarea>
                        <label for="image-upload">Upload Images:</label>
                        <input type="file" class="form-control" id="files" name="files" multiple
                               aria-describedby="Image Upload">
                        <label for="image-list">Previews:</label>
                        <output class="form-control" id="image-list" style="min-height: 100px; height: auto;"></output>
                        <label for="lat">Latitude:</label>
                        <input type="text" class="form-control" name="lat" id="lat"
                               aria-describedby="Latitude" placeholder="Enter Latitude">
                        <label for="lng">Longitude:</label>
                        <input type="text" class="form-control" name="lng" id="lng"
                               aria-describedby="Longitude" placeholder="Enter Longitude">

                        <input type="submit" class="btn btn-primary d-block mr-0 mt-3 float-right" value="Create"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    {% load static %}
    <script src="{% static "js/FileHandling.js" %}"></script>
    <script src="{% static "js/MapAPI.js" %}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCWKqqOWg7D2pCCKgsGe_ISDMUyEkkxXzY&libraries=places&callback=init_map"
            async defer></script>
{% endblock %}

