{% extends 'application/base.html' %}



{% block content %}
<br />
<div class="container">
<h3>Create Sublet</h3>

<form method="POST" action="{% url 'subby:create_sublet' %} " enctype="multipart/form-data">
	
	{% csrf_token %}
	<b>Title:</b>
	<input type="text" name="title"/><br /><br />
	<input id="pac-input" class="controls" type="text" placeholder="Search Address"/><br />
	<div id="map"></div>
	<b>Street Address:</b>
	<input type="text" name="street_address" id="street_address" /><br />
	<b>City:</b>
	<input type="text" name="city" id="city"  /><br />
	<b>Postal Code:</b>
	<input type="text" name="postal_code" id="postal_code" /><br />
	<b>Price: </b>
	<input type="text" name="price"/><br />
	<b>Description: </b>
	<textarea cols="50" rows="5" name="description"></textarea><br />
	<b>Image: </b>
	<input type="file" name="image" /><br /><br />
	<b>latitude: </b>
	<input type="text" name="lat" id="lat" /><br /><br />
	<b>longitude: </b>
	<input type="text" name="lng" id="lng" /><br /><br />
	<input type="submit" class="btn btn-primary" value="Create Sublet" /> 
</form>

	<br />

	
</div>






{% endblock %}


{% block js %}
        <script>
            function initAutocomplete() {
                var map = new google.maps.Map(document.getElementById('map'), {
                    center: {lat: 43.4643, lng: -80.5204},
                    zoom: 13,
                    mapTypeId: 'roadmap'
                });

                // Create the search box and link it to the UI element.
                var input = document.getElementById('pac-input');
                var searchBox = new google.maps.places.SearchBox(input);
//                map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

                // Bias the SearchBox results towards current map's viewport.
                map.addListener('bounds_changed', function() {
                    searchBox.setBounds(map.getBounds());
                });

                var markers = [];
                // Listen for the event fired when the user selects a prediction and retrieve
                // more details for that place.
                searchBox.addListener('places_changed', function() {
                    var places = searchBox.getPlaces();

                    if (places.length == 0) {
                        return;
                    }

                    // Clear out the old markers.
                    markers.forEach(function(marker) {
                        marker.setMap(null);
                    });
                    markers = [];

                    // For each place, get the icon, name and location.
                    var bounds = new google.maps.LatLngBounds();
                    places.forEach(function(place) {
                        if (!place.geometry) {
                            console.log("Returned place contains no geometry");
                            return;
                        }
                        var icon = {
                            url: place.icon,
                            size: new google.maps.Size(71, 71),
                            origin: new google.maps.Point(0, 0),
                            anchor: new google.maps.Point(17, 34),
                            scaledSize: new google.maps.Size(25, 25)
                        };

                        // Create a marker for each place.
                        markers.push(new google.maps.Marker({
                            map: map,
                            icon: icon,
                            title: place.name,
                            position: place.geometry.location

                        }));
						console.log(place.name)
						document.getElementById("street_address").value = place.name;
						document.getElementById("city").value = place.vicinity;
						document.getElementById("postal_code").value = place.address_components[6]["long_name"];
						document.getElementById("lat").value = place.geometry.location.lat();
						document.getElementById("lng").value = place.geometry.location.lng();
						


                        if (place.geometry.viewport) {
                            // Only geocodes have viewport.
                            bounds.union(place.geometry.viewport);
                        } else {
                            bounds.extend(place.geometry.location);
                        }
                    });
                    map.fitBounds(bounds);
                });

            }
        </script>

        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCurefBmArMbo3xXJpvxk3sG1q1MPSHsCc&libraries=places&callback=initAutocomplete"
                async defer></script>


{% endblock %}
