{% extends 'application/base.html' %}





{% block content %}

<div class="jumbotron jumbo-container">
	<div class="container-fluid search-sublet-main-container">
		<div class="row">
			<div class="col-8">

				<div class="container-fluid search-container mt-2">
				<h2>
				Search Results: {{ result_list|length }} results found
				</h2>
					{% for sublet in result_list %}
					<div class="card gallery" style="width: 15rem;cursor:pointer;" id="the_container"  onclick="window.location='{% url 'subby:SubletDetail' sublet.id %}';">
					    {% for img in image_list %}
						{% if img.sublet.id == sublet.id %}
                        <img class="card-img-top" src="{{ img.image.url }}" alt="">
						{% endif %}
						{% endfor %}
						<div class="card-body " id="sublet{{ sublet.id }}">
							<h6 class="card-title">{{ sublet.title }}</h6>
							<h6 class="card-title">{{ sublet.street_address }} </h6>
							<h6 class="card-title">{{ sublet.city }}, ${{ sublet.price}}</h6>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
			<div class="col-4">
				<div id="map" style="min-height: 100%; height: auto;"></div>
			</div>
		</div>
	</div>
</div>
{% endblock %}


{% block js %}
<script>
	function init_searchmap() {
		
		let myOptions = {
			center: new google.maps.LatLng(43.471111, -80.545372),
			zoom: 11,
			mapTypeId: google.maps.MapTypeId.ROADMAP
			
		};
		let map = new google.maps.Map(document.getElementById("map"),
		myOptions);
		let bounds = new google.maps.LatLngBounds();
		setMarkers(map, bounds)
		
	}
	
	
	function setMarkers(map, bounds) {
		
		{% for sublet in result_list %}
		latlngset = new google.maps.LatLng({{ sublet.latitude }}, {{ sublet.longitude }});
		marker = new google.maps.Marker({
			map: map, title: '{{ sublet.title }}', position: latlngset
		});
		map.setCenter(marker.getPosition());
		
	content = "Listing Name: <a href='{% url 'subby:SubletDetail' sublet.id %}'>{{ sublet.title }}</a>" + '<br>' + "Address: {{ sublet.street_address }}" + '<br>' + " City: {{ sublet.city }}" + '<br>' +
		'Price: ${{ sublet.price }}/mo';
		
		infowindow = new google.maps.InfoWindow();

		google.maps.event.addListener(marker, 'click', (function (marker, content, infowindow) {
			return function () {
				infowindow.setContent(content);
				infowindow.open(map, marker);
				{% for sublet in result_list %}
					sublet_content = document.getElementById('sublet{{sublet.id}}');
					sublet_content.style.backgroundColor = 'white';
				{% endfor %}


				sublet_content = document.getElementById('sublet{{sublet.id}}');
				
				sublet_content.style.backgroundColor = 'lightblue';
				
			};
		})(marker, content, infowindow));
		
		
		bounds.extend(marker.getPosition());
		
		map.fitBounds(bounds);
		{% endfor %}
		
	}
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCWKqqOWg7D2pCCKgsGe_ISDMUyEkkxXzY&libraries=places&callback=init_searchmap"
async defer>
</script>
{% endblock %}