{% extends 'application/base.html' %}

{% block content %}
<div class="jumbotron jumbo-container">
	<div class="container-fluid search-sublet-main-container">
		<div class="row">
			<div class="col-8">
				
				<div class="container-fluid search-container">
					<h2>
                        Search Results: {{ place.count }} results found
					</h2>
                    <button type="button" data-toggle="collapse" data-target="#filterToggler"
					class="btn btn-secondary btn-sm" aria-controls="filterToggler" aria-expanded="false"
					aria-label="Toggle navigation">
                        Advanced filters
					</button>
                    <div class="collapse" id="filterToggler">
                        <div class="bg-dark p-4 mt-2" style="border-radius: 5px;">
                            <h6 class="text-white">Advanced Filters</h6>
                            <form action="{% url 'subby:search' %}" method="POST">
                                {% csrf_token %}
                                <div class="form-group text-light">
                                    <input type="hidden" name="lat" value="{{ lat }}">
                                    <input type="hidden" name="lng" value="{{ lng }}">
                                    <label for="prox">Proximity (km):</label>
                                    <input class="form-control" name="proximity" id="prox" type="number" min="1"
									value="{{ prox }}">
                                    <label for="duration">Duration (months):</label>
                                    <input class="form-control" name="duration" id="duration" type="number" min="4" max="12"
									value="{{ duration }}">
                                    <button class="btn btn-secondary btn-sm mt-3" type="submit">Filter</button>
								</div>
							</form>
						</div>
					</div>
                    <br><br>
					{% for p in place %}
					<div class="card gallery" style="width: 15rem;cursor:pointer;" id="the_container"  onclick="window.location='{% url 'subby:SubletDetail' p.id %}';">
						{% load index %}
						<img class="card-img-top" src="{{ cover|index:forloop.counter0 }}" alt="">
						<div class="card-body " id="sublet{{ p.id }}">
							<h6 class="card-title">{{ p.title }}</h6>
							<p class="card-title">{{ p.street_address }} </p>
							<h6 class="card-title">{{ p.city }}, ${{ p.price}}</h6>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
			<div class="col-4">
				<div id="map" style="min-height: 100%; height: auto;"></div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block js %}
<script>
	function init_searchmap() {
		
		let myOptions = {
			center: new google.maps.LatLng({{ lat }}, {{ lng }}),
			zoom: 17,
			mapTypeId: google.maps.MapTypeId.ROADMAP
			
		};
		let map = new google.maps.Map(document.getElementById("map"),
		myOptions);
		let bounds = new google.maps.LatLngBounds();
		setMarkers(map, bounds)
		
	}
	
	
	function setMarkers(map, bounds) {
		
		{%  for p in place %}
		latlngset = new google.maps.LatLng({{ p.latitude }}, {{ p.longitude }});
		marker = new google.maps.Marker({
			map: map, title: '{{ p.title }}', position: latlngset
		});
		map.setCenter(marker.getPosition());
		
		content = "Listing Name: <a href='{% url 'subby:SubletDetail' p.id %}'>{{ p.title }}</a>" + '<br>' + "Address: {{ p.street_address }}" + '<br>' + " City: {{ p.city }}" + '<br>' +
		'Price: ${{ p.price }}/mo';
		
		infowindow = new google.maps.InfoWindow();
		
		google.maps.event.addListener(marker, 'click', (function (marker, content, infowindow) {
			return function () {
				infowindow.setContent(content);
				infowindow.open(map, marker);
			};
		})(marker, content, infowindow));
		
		bounds.extend(marker.getPosition());
		
		map.fitBounds(bounds);
		{% endfor %}
		
	}
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCWKqqOWg7D2pCCKgsGe_ISDMUyEkkxXzY&libraries=places&callback=init_searchmap"
async defer></script>
{% endblock %}