{% extends 'application/base.html' %}


{% block content %}
    <div class="container">
        <div class="jumbotron jumbo-container" style="min-height: 90vh;">
            <div class="container">
                <h2>Listings</h2>
                <br>
                {% for sublet in object_list %}
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3">
                                <!-- <a href="{% url 'subby:SubletDetail' sublet.id %}"><h3 id="sublet_title">{{ sublet.title }}</h3></a> -->
                                <div onclick="window.location='{% url 'subby:SubletDetail' sublet.id %}';"
                                     style="cursor:pointer;">
                                    <h4 id="sublet_title">{{ sublet.title }}</h4>
                                    {% for i in image_list %}
                                        {% if i.sublet.id == sublet.id %}
                                            <img src="{{ i.image.url }}" class="img-fluid" height="200"
                                                 width="200"/>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="col-md-3 mt-1">
                                <h5>Address</h5>
                                <p>{{ sublet.street_address }}, {{ sublet.city }}</p>
                                <h5>Rent</h5>
                                <p>${{ sublet.price }}</p>
                            </div>
                            <div class="col-md-5 mt-1">
                                <h5>Description</h5>
                                <p>{{ sublet.summary }}</p>
                            </div>
                        </div>
                        <hr>
                    </div>
                    <br>
                {% endfor %}

                {% if is_paginated %}
                    <div class="container">
                        <ul class="pagination justify-content-center" id="pagination_row">
                            <li class="page-item">
                                <a href="{% url 'subby:SubletList' %}?page=1" class="page-link">First</a>
                            </li>
                            {% if page_obj.has_previous %}
                                <li class="page-item">
                                    <a href="{% url 'subby:SubletList' %}?page={{ page_obj.previous_page_number }}"
                                       class="page-link">{{ page_obj.previous_page_number }}</a>
                                </li>
                            {% endif %}
                            <li class="page-item active">
                                <a href="{% url 'subby:SubletList' %}?page={{ page_obj.number }}"
                                   class="page-link">{{ page_obj.number }}</a>
                            </li>
                            {% if page_obj.has_next %}
                                <li class="page-item">
                                    <a href="{% url 'subby:SubletList' %}?page={{ page_obj.next_page_number }}"
                                       class="page-link">{{ page_obj.next_page_number }}</a>
                                </li>
                            {% endif %}
                            <li class="page-item">
                                <a href="{% url 'subby:SubletList' %}?page=last" class="page-link">Last</a>
                            </li>
                        </ul>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}			