@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

html, body {
    height: 100%;
}

.main-nav-item {
    color: grey;
    margin-left: 5px;
    margin-top: 5px;
    font-weight: bold;
}

.main-nav-item:hover {
    color: green;
}

.navbar {
    border-bottom: 1px solid #ccc;
}

.thumb {
    height: 75px;
    border: 1px solid #000;
    margin: 10px 5px 0 0;
}

.green-border {
  border: 2px solid green !important;
}

.main-logo-img {
    margin-top: 5%;
    margin-bottom: 5%;
    max-height: 300px;
    max-width: 250px;
    height: auto;
    width: auto;
}

.brand-logo {
    max-height: 50px;
    max-width: 100px;
    height: auto;
    width: auto;
}

.search-btn {
    margin-top: 1%;
}

.jumbo-container {
    margin-top: 3%;
}

#image-gallery {
    width: 100%;
    height: 400px;
    background-color: #D3D3D3;

    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

#image-gallery .slide {
    display: inline-block;
}

#button-holder {
    position: relative;
}

.scroll-btn.right-scroll {
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
}

.scroll-btn.left-scroll {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
}

.scroll-btn {
    opacity: 1;
    -webkit-transition: all .5s ease-in 3s;
    transition: all .5s ease-in 3s;
}

.scroll-btn {
    display: block;
    width: 32px;
    height: 32px;
    border: 2px solid #FFF;
    background-color: #111111;
    background-size: 14px auto;
    border-radius: 50%;
    z-index: 2;
    -webkit-animation: bounce 2s infinite 2s;
    animation: bounce 2s infinite 2s;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

.scroll-btn.right-scroll:before {
    position: absolute;
    top: calc(50% - 6px);
    left: calc(50% - 8px);
    transform: rotate(-135deg);
    display: block;
    width: 12px;
    height: 12px;
    content: "";
    border: 2px solid white;
    border-width: 0px 0 2px 2px;
}

.scroll-btn.left-scroll:before {
    position: absolute;
    top: calc(50% - 6px);
    left: calc(50% - 3px);
    transform: rotate(45deg);
    display: block;
    width: 12px;
    height: 12px;
    content: "";
    border: 2px solid white;
    border-width: 0px 0 2px 2px;
}

@keyframes bounce {
    0%,
    100%,
    20%,
    50%,
    80% {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
    40% {
        -webkit-transform: translateX(-10px);
        -ms-transform: translateX(-10px);
        transform: translateX(-10px);
    }
    60% {
        -webkit-transform: translateX(-5px);
        -ms-transform: translateX(-5px);
        transform: translateX(-5px);
    }
}

.search-container {
    max-height: 80vh;
    min-height: 80vh;
    height: auto;
    overflow-y: scroll;
    overflow-x: hidden;
}

.gallery {
    margin-top: 5px;
    margin-right: 5px;
    float: left;
}

.card-body {
    min-height: 150px;
    max-height: 150px;
    height: auto;
    overflow-y: auto;
}

.rating > input {
    display: none;
}

.rating > label:before {
    margin: 5px;
    font-size: 1.25em;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005";
}

.rating > .half:before {
    content: "\f089";
    position: absolute;
}

.rating > label {
    color: #ddd;
    float: right;
}

.rating > input:checked ~ label,
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: #FFD700;
}

.rating > input:checked + label:hover,
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label,
.rating > input:checked ~ label:hover ~ label {
    color: #FFED85;
}

#error-container {
    width: 100%;
    height: 100px;
}


.hello {
    color: green;
}

#sublet_title:hover {
    color: #609ab6;
}

#map {
    height: 100%;
    width: 100%;
    border: 1px solid #ccc;
    /* margin:auto; */
}

#sublet_description {
    width: 500px;
}

#map_container {
    margin-left: 75px;
}

#pagination_row {
    /* background-color: black; */
    /* width: 70%; */
    /* padding-left:300px; */
    /* text-align:center; */
}



.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: progress;
}


/* Favourite list page styling ------------------------------*/
/* Favourite button panel  properties*/
.favourite-btn {
    /* Title text properties */
    color: black; /* Text Colour */
    text-align: center;

    background-color: #89b4f9; /* Initial button background colour */
    padding: 50px;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    border: solid;
    border-width: 1px;
    border-radius: 12px;

    transition: 0.6s;
    outline: none;

}


/* Drop down info panel styling and contents*/
.info-panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0px;
    overflow: hidden;

    /* Orders the layout of the favourite info boxes */
    display: flex;
    flex-direction: column;

    transition: max-height 0.3s ease-out;
}

/* Contents*/
.description {
    width: 70%;
    margin-left: 15%;

    border-right-style: solid;
    border-left-style: solid;
    border-bottom-style: solid;
    border-color: #89b4f9;
    border-width: 1px;

}


.control-panel {
    width: 70%;
    margin-left: 15%;

    border-right-style: solid;
    border-bottom-style: solid;
    border-color: #89b4f9;
    border-width: 1px;
}


/* Favourite button panel properties on mouse hover and button click */
.active, .favourite-btn:hover {
    background-color: #4286f4;
}

/* -------------------------------------------- */

