<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
          integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    {% block styles %}{% endblock %}

    <script src='https://www.google.com/recaptcha/api.js?render=6Ledc2YUAAAAAFDCtapwGWRJmi5coy8Ue615QGO4'></script>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="{% url 'subby:index' %}">
        <img src="{% static 'images/subby_logo.png' %}" class="d-inline-block align-top brand-logo"/>
    </a>

    <div class="navbar-header">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
	
	
	
    {% if request.get_full_path == "/sublets/search" %}
        <div class="nav-item col-md-6">
            <form action="{% url 'subby:search' %}" method="POST">
                {% csrf_token %}
                <div class="input-group">
                    <input class="form-control" type="search" placeholder="Search" aria-label="Search"
                           id="sublet-search">
                    <input type="hidden" id="search-lat" name="lat">
                    <input type="hidden" id="search-lng" name="lng">
                    <input type="hidden" id="search-prox" name="proximity" value="5">
                    <span class="input-group-btn">
                    <button class="btn btn-secondary search-btn" type="submit">Search</button>
                </span>
                </div>
            </form>
        </div>
    {% endif %}
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto">
            {% if user.is_authenticated %}
                <ul class="navbar-nav">
                    {% if user.is_admin %}
                        <li class="dropdown nav-item">
                            <a class="nav-link main-nav-item dropdown-toggle" id="dropdownMenuLink"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Admin</a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" href="{% url 'subby:user_index' %}">User List</a>
                                <a class="dropdown-item" href="{% url 'subby:report_list' %}">Report List</a>
                            </div>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link main-nav-item" id="" href="{% url 'subby:account_home' %}">Account</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link main-nav-item" id=""
                           href="javascript:{document.getElementById('logout').submit()}">Logout</a>
                        <form id="logout" method="POST" action="{% url 'subby:logout' %}">
                            {% csrf_token %}
                            <input type="hidden"/>
                        </form>
                    </li>
                </ul>
            {% else %}
                <li class="nav-item main-nav-item">
                    <a class="nav-link" id="" data-toggle="modal" data-target="#login-modal" href="#">Login</a>
                </li>
                <li class="nav-item main-nav-item">
                    <a class="nav-link" id="" data-toggle="modal" data-target="#signup-modal" href="#">
                        Sign Up!
                    </a>
                </li>
            {% endif %}
        </div>
    </div>
</nav>

{% if messages %}
    {% for message in messages %}
        <div class="alert {{ message.tags }}" role="alert">{{ message }}</div>
    {% endfor %}
{% endif %}

<div class="alert ajax-alert" role="alert" style="display: none;" id="message_alert"></div>

<div class="container-fluid">
    {% block content %}
        <div class="row">
            <div class="col"></div>
            <div class="col-xl-10">
                <img class="d-block mx-auto main-logo-img" src="{% static 'images/subby_logo.png' %}">
                <form action="{% url 'subby:search' %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <input class="form-control" type="search" placeholder="Search" aria-label="Search"
                               id="sublet-search">
                        <input type="hidden" id="search-lat" name="lat">
                        <input type="hidden" id="search-lng" name="lng">
                        <input type="hidden" id="search-prox" name="proximity" value="5">
                        <div class="row">
                            <button class="btn btn-secondary search-btn d-block offset-5 mt-3" type="submit"
                                    style="height:90%;">Search
                            </button>
                            <a class="btn btn-secondary d-block mt-3" style="margin-left:20px;"
                               href="{% url 'subby:SubletList' %}">View All Posts</a>
                        </div>
                    </div>
                </form>

            </div>
            <div class="col"></div>
        </div>
        <div class="row">
            <div class="col">
                {% if images.count > 0 %}
                    <div id="button-holder">
                        <button class="scroll-btn left-scroll"></button>
                        <div id="image-gallery">
                            {% for image in images %}
                                <div class="slide">
                                    <a href="{% url 'subby:SubletDetail' image.sublet.id %}"><img
                                            src="{{ image.image.url }}"
                                            style="max-height: 600px; max-width: 650px;"/></a>
                                </div>
                            {% endfor %}
                        </div>
                        <button class="scroll-btn right-scroll"></button>
                    </div>
                {% endif %}
            </div>
        </div>
    {% endblock %}
</div>

<!-- Modals -->
<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="login-modal-label"
     aria-hidden="true">
    {% block loginmodal %}
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                {% if login_error %}
                    <div class="modal-header">
                        <div class="alert alert-danger fade show" role="alert" id="error-container">
                            <h4 class="alert-heading">Error</h4>
                            <p>{{ login_error }}</p>
                            <button type="button" class="close" onclick="$('.alert').hide()" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                {% endif %}
                <div class="modal-header">
                    <div class="btn-group btn-group-lg modal-title" role="group" aria-label="Login Signup Buttons"
                         id="login-modal-label">
                        <button type="button" class="btn btn-light login-btn" style="width: 235px;">Login</button>
                        <button type="button" class="btn btn-light signup-btn" style="width: 235px;">Sign-up</button>
                    </div>
                </div>
                <form action="{% url 'subby:login' %}" method="POST">
                    {% csrf_token %}
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="email-box">Email address</label>
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><img
                                            src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/148866/cd-icon-email.svg">
                                    </div>
                                </div>
                                <input type="email" class="form-control" id="email-box" name="username"
                                       aria-describedby="emailHelp" placeholder="Enter email"
                                       tabindex="0" data-trigger="focus" data-toggle="popover"
                                       data-content="Please enter a valid email">
                            </div>
                            <small id="emailHelp" class="form-text text-muted">UW/WLU emails required</small>
                        </div>
                        <div class="form-group">
                            <label for="pw-box">Password</label>
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><img
                                            src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/148866/cd-icon-password.svg">
                                    </div>
                                </div>
                                <input type="password" class="form-control" id="pw-box" placeholder="Password"
                                       name="password">
                            </div>
                        </div>
                        <div class="form-group">
                            <a class="sb sb-google sb-m-2 sb-fw sb-ct sb-nb d-block mx-auto rounded"
                               href="{% url 'social:begin' 'google-oauth2' %}">Login with Google</a>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" id="submit-login-btn">Login</button>
                    </div>
                </form>
            </div>
        </div>
    {% endblock %}
</div>

<div class="modal fade" id="signup-modal" tabindex="-1" role="dialog" aria-labelledby="signup-modal-label"
     aria-hidden="true">
    {% block signupmodal %}
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                {% if signup_error %}
                    <div class="modal-header">
                        <div class="alert alert-danger fade show" role="alert" id="error-container">
                            <h4 class="alert-heading">Error</h4>
                            <p>{{ signup_error }}</p>
                            <button type="button" class="close" onclick="$('.alert').hide()" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                {% endif %}
                <div class="modal-header">
                    <div class="btn-group btn-group-lg modal-title" role="group" aria-label="Login Signup Buttons"
                         id="login-modal-label">
                        <button type="button" class="btn btn-light login-btn" style="width: 235px;">Login</button>
                        <button type="button" class="btn btn-light signup-btn" style="width: 235px;">Sign-up</button>
                    </div>
                </div>
                <form action="{% url 'subby:signup' %}" method="POST">
                    {% csrf_token %}
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="su-email-box">Email Address</label>
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><img
                                            src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/148866/cd-icon-email.svg">
                                    </div>
                                </div>
                                <input type="email" class="form-control" id="su-email-box" name="username"
                                       aria-describedby="emailHelp" placeholder="Enter email"
                                       tabindex="0" data-trigger="focus" data-toggle="popover">
                            </div>
                            <small id="emailHelp" class="form-text text-muted">UW/WLU emails required</small>
                        </div>
                        <div class="form-group">
                            <label for="su-pw-box">Password</label>
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><img
                                            src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/148866/cd-icon-password.svg">
                                    </div>
                                </div>
                                <input type="password" class="form-control" id="su-pw-box" placeholder="Password"
                                       name="password" tabindex="0" data-trigger="focus" data-toggle="popover"
                                       data-content="Please enter a valid password (6 - 16 characters, at least 1 number & special character)">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="pw-confirm-box">Password</label>
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><img
                                            src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/148866/cd-icon-password.svg">
                                    </div>
                                </div>
                                <input type="password" class="form-control" id="pw-confirm-box"
                                       placeholder="Confirm Password"
                                       name="password-confirm" data-toggle="popover"
                                       data-content="Passwords must match">
                            </div>
                        </div>
                        <input type="hidden" name="recaptcha-token" id="recaptcha-token">
                        <script>
                            grecaptcha.ready(function () {
                                grecaptcha.execute('6Ledc2YUAAAAAFDCtapwGWRJmi5coy8Ue615QGO4', {action: 'signup'})
                                    .then(function (token) {
                                        $('#recaptcha-token').val(token);
                                    });
                            });
                        </script>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" id="signup-submit-btn">Sign up</button>
                    </div>
                </form>
            </div>
        </div>
    {% endblock %}
</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script> -->
<script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
<script src="{% static 'js/LoginModal.js' %}"></script>
<script src="{% static 'js/EditAccountInformation.js' %}"></script>
<script src="{% static 'js/RatingVerification.js' %}"></script>
<script src="{% static 'js/SubletDetailVerification.js' %}"></script>
<script src="{% static 'js/SmoothScrolling.js' %}"></script>
<script src="{% static 'js/MapAPI.js' %}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCWKqqOWg7D2pCCKgsGe_ISDMUyEkkxXzY&libraries=places&callback=init_searchbar"
        async defer></script>

<script type="text/javascript">
    $(function () {
        {% if login_error %}
            $('#login-modal').modal('show');
        {% endif %}
        {% if signup_error %}
            $('#signup-modal').modal('show');
        {% endif %}
    });
</script>

<script type="text/javascript">
    function checkEmail() {
        $('#su-email-box').popover('hide');
        $.get('{% url 'subby:signup' %}', {username: $('#su-email-box').val()},
            function (data) {
                if (data === "True") {
                } else {
                    $('#su-email-box').popover({
                        content: "The following email already exists in our database!",
                        html: true,
                        trigger: "manual",
                        placement: "right"
                    }).popover('toggle');
                }
            });
    }

    function checkLoginEmail() {
        $.get('{% url 'subby:signup' %}', {username: $('#email-box').val()},
            function (data) {
                console.log('hi');
                if (data === "True") {
                    $('#email-box').removeClass('green-border');
                } else {
                    $('#email-box').addClass('green-border');
                }
            });
    }

    function onChange() {
        $("#su-email-box").change(function () {
            checkEmail();
        });
        $('#email-box').change(function () {
            checkLoginEmail();
        });
    }

    $(document).ready(onChange);
</script>

<script>

var ele = document.querySelectorAll('[role="alert"]');
var message_ele = ele[0];

console.log(message_ele);
console.log(123);
setTimeout(function(){ 
   message_ele.style.display = "none"; 
}, 3000);

</script>

{% block js %}

{% endblock %}

</body>

</html>
