/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: 100%;
  font-family: "PT Sans", sans-serif;
  color: #505260;
  background-color: #fff;
}

a {
  color: #2f889a;
  text-decoration: none;
}

img {
  max-width: 100%;
}

input, textarea, li a {
  font-family: "PT Sans", sans-serif;
  font-size: 1rem;
}
input::-ms-clear, textarea::-ms-clear {
  display: none;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
#title {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 70px;
}

.rating {
  border: none;
  float: right;
  margin-left: 28%;
  margin-top: 30px;
}

#add-to-wishlist-button {
  height: 30px;
  margin-left: 35%;
  margin-top: 30px;
}

#listing-map {
  width: 100%;
  height: 400px;
  float: left;
  margin-top: 30px;
}
#report-button {
  height: 30px;
  width: 100px;
  margin-left: 10px;
  margin-top: 30px;
}

.rating > input { display: none; }
.rating > label:before {
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before {
  content: "\f089";
  position: absolute;
}

.rating > label {
  color: #ddd;
  float: right;
}

.rating > input:checked ~ label,
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  }

.rating > input:checked + label:hover,
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label,
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  }

.image-container {
  width: 50%;
  position: relative;
}

.images {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.caption {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.position {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

#dots {
  position: absolute;
  right: 45%;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
#listing-info-container {
  display: flex;
  flex-direction: row;
  width: auto;
  height: auto;

}

#listing-description {
  border: 1px solid #ccc;
  height: auto;
  width: 300px;
  background-color: #505260;
  margin-left: 10px;
  padding-left: 10px;
  color: #f1f1f1;
}

#listing-contact {
  border: 1px solid #ccc;
  height: auto;
  width: 400px;
  background-color: #505260;
  margin-left: 10px;
  padding-left: 10px;
  color: #f1f1f1;
}

#listing-contact input, #listing-contact textarea{
  width: 375px;
}

#message-box {
  height: 200px;
}

#listings-search-box {
  height: 30px;
  width: 500px;
}

#nav-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

#home {
  float: left;
}

.main-nav {
  display: block;
}

#login, #signup, #listings-login, #listings-signup {
  float: right;
}
#map {
  float: right;
  width: 50%;
  height: 75vh;
  border: 1px solid #ccc;
}
#listings-listings {
  display: block;
  width: 45%;
  height: 75vh;
  overflow-y: auto;
  float: left;
}

div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 200px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

#listings-login, #listings-signup {
  margin: 10px;
}

#listings-nav {
  border-bottom: 1px solid #cccccc;
  height: 50px;
}

label {
  display: block;
}

#listings-sorts ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#listings-sorts ul li{
  display: block;
  text-align: center;
  padding: 5px 5px;
  text-decoration: none;
  float: left;
  border-right: 1px solid #ccc;
}

#listings-filters {
  display: flex;
  flex-direction: row;
  width: 750px;
  justify-content: space-between;
}

.picker-btns {
  display: inline-block;
  position: relative;
  font-size: 0;
  overflow: hidden;
  border-radius: 3px;
  width: 120px;
  height: 30px;
}

.picker-btns button {
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  margin: 0;
  padding: 0;
  border: 0;
  background: #000;
  color: #fff;
  font-size: 10.8px;
  line-height: 1;
  font-family: bonds, sans-serif;
  cursor: pointer;
  -moz-transition: color 200ms;
  -o-transition: color 200ms;
  -webkit-transition: color 200ms;
  transition: color 200ms;
}
.picker-btns button:focus {
  outline: none;
  color: #2bebaf;
}
.picker-btns button:disabled {
  background: #999;
  color: #ccc;
  cursor: default;
}
.picker-btns button:first-child {
  bottom: 0;
}
.picker-btns button:first-child:before {
  content: "-";
}
.picker-btns button:last-child {
  top: 0;
}
.picker-btns button:last-child:before {
  content: "+";
}
.picker-btns button:last-child:focus {
  color: #ff6367;
}
.picker-btns input[type="number"] {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 44px;
  margin: 0;
  padding: 0 0 16.92308px;
  border: 0;
  font-size: 13.6px;
  font-weight: bold;
  text-align: center;
  -moz-appearance: textfield;
}
.picker-btns input[type="number"]::-webkit-outer-spin-button, .picker-btns input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.picker-btns:after {
  content: "QTY";
  position: absolute;
  font-size: 9.68px;
  left: 0;
  right: 0;
  line-height: 1;
  padding: 3.52px 0 3.52px 0;
  width: 44px;
  margin: 0 auto;
  border-top: 1px solid #ccc;
  color: #888;
  text-align: center;
  bottom: 34%;
}

.picker-btns button:first-child {
  left: 0;
}
.picker-btns button:last-child {
  right: 0;
}
.picker-btns:after {
  bottom: 0;
}
.picker-btns input[type="number"] {
  position: absolute;
  top: 0;
  left: 44px;
}


#login a, #signup a, #home a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#login a:hover, #signup a:hover, #home a:hover {
  background-color: #111;
}

.main-objects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dates-pickers {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 600px;
  height: 40px;
}

#search-box {
  height: 30px;
  width: 1000px;
}

#search-label {
  float: left;
}

#image-gallery {
  width: 100%;
  height: 400px;
  background-color: #D3D3D3;

  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

#image-gallery .slide {
  display: inline-block;
}

#send-button {
  padding: 5px;
  width: 80px;
  height: 30px;
  float: right;
  margin-right: 10px;
  margin-top: 20px;
}
.listings-btn {
  position: relative;
  overflow: hidden;

  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);

  background-color: #f1f1f1;
  color: #2d2d2d;

  -moz-transition: background-color .3s;
  -webkit-transition: background-color .3s;
  -o-transition: background-color .3s;
  transition: background-color .3s;
}

.listings-btn:hover, .btn:focus {
  background-color: #d2d2d2;
}

.listings-btn:before {
  content: "";

  position: absolute;
  top: 50%;
  left: 50%;

  display: block;
  width: 0;
  padding-top: 0;

  border-radius: 100%;

  background-color: rgba(236, 240, 241, .3);

  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.listings-btn:active:before {
  width: 120%;
  padding-top: 120%;

  transition: width .2s ease-out, padding-top .2s ease-out;
}

.listings-btn > * {
  position: relative;
}

.listings-btn span {
  display: block;
  padding: 5px 24px;
}

.btn {
  position: relative;

  display: block;
  margin: 30px auto;
  padding: 0;

  overflow: hidden;

  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);

  background-color: #2ecc71;
  color: #ecf0f1;

  -moz-transition: background-color .3s;
  -webkit-transition: background-color .3s;
  -o-transition: background-color .3s;
  transition: background-color .3s;
}

.btn:hover, .btn:focus {
  background-color: #27ae60;
}

.btn:before {
  content: "";

  position: absolute;
  top: 50%;
  left: 50%;

  display: block;
  width: 0;
  padding-top: 0;

  border-radius: 100%;

  background-color: rgba(236, 240, 241, .3);

  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btn:active:before {
  width: 120%;
  padding-top: 120%;

  transition: width .2s ease-out, padding-top .2s ease-out;
}

.btn > * {
  position: relative;
}

.btn span {
  display: block;
  padding: 12px 24px;
}

#button-holder {
  position: relative;
}

.scroll-btn.right-scroll {
  position: absolute;
  top:50%;
  right:0%;
  transform:translate(0%,-50%);
  -ms-transform:translate(0%,-50%);
}

.scroll-btn.left-scroll {
  position: absolute;
  top:50%;
  left:0%;
  transform:translate(0%,-50%);
  -ms-transform:translate(0%,-50%);
}

.scroll-btn {
  opacity: 1;
  -webkit-transition: all .5s ease-in 3s;
  transition: all .5s ease-in 3s;
}

.scroll-btn {
  display: block;
  width: 32px;
  height: 32px;
  border: 2px solid #FFF;
  background-color: #111111;
  background-size: 14px auto;
  border-radius: 50%;
  z-index: 2;
  -webkit-animation: bounce 2s infinite 2s;
  animation: bounce 2s infinite 2s;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.scroll-btn.right-scroll:before {
  position: absolute;
  top: calc(50% - 6px);
  left: calc(50% - 8px);
  transform: rotate(-135deg);
  display: block;
  width: 12px;
  height: 12px;
  content: "";
  border: 2px solid white;
  border-width: 0px 0 2px 2px;
}

.scroll-btn.left-scroll:before {
  position: absolute;
  top: calc(50% - 6px);
  left: calc(50% - 3px);
  transform: rotate(45deg);
  display: block;
  width: 12px;
  height: 12px;
  content: "";
  border: 2px solid white;
  border-width: 0px 0 2px 2px;
}

@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  40% {
    -webkit-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  60% {
    -webkit-transform: translateX(-5px);
    -ms-transform: translateX(-5px);
    transform: translateX(-5px);
  }
}

.login-signup-model {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(52, 54, 66, 0.9);
  z-index: 3;
  overflow-y: auto;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.3s 0, visibility 0 0.3s;
  -moz-transition: opacity 0.3s 0, visibility 0 0.3s;
  transition: opacity 0.3s 0, visibility 0 0.3s;
}
.login-signup-model.is-visible {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity 0.3s 0, visibility 0 0;
  -moz-transition: opacity 0.3s 0, visibility 0 0;
  transition: opacity 0.3s 0, visibility 0 0;
}
.login-signup-model.is-visible .login-signup-model-container {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}

.login-signup-model-container {
  position: relative;
  width: 90%;
  max-width: 600px;
  background: #FFF;
  margin: 3em auto 4em;
  cursor: auto;
  border-radius: 0.25em;
  -webkit-transform: translateY(-30px);
  -moz-transform: translateY(-30px);
  -ms-transform: translateY(-30px);
  -o-transform: translateY(-30px);
  transform: translateY(-30px);
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.switch-buttons {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.login-signup-model-container .switch-buttons::after {
  clear: both;
  content: "";
  display: table;
}
.login-signup-model-container .switch-buttons li {
  width: 50%;
  float: left;
  text-align: center;
}
.login-signup-model-container .switch-buttons li:first-child a {
  border-radius: .25em 0 0 0;
}
.login-signup-model-container .switch-buttons li:last-child a {
  border-radius: 0 .25em 0 0;
}
.login-signup-model-container .switch-buttons a {
  display: block;
  width: 100%;
  height: 50px;
  line-height: 50px;
  background: #d2d8d8;
  color: #809191;
}
.login-signup-model-container .switch-buttons a.selected {
  background: #FFF;
  color: #505260;
}
@media only screen and (min-width: 600px) {
  .login-signup-model-container {
    margin: 4em auto;
  }
  .login-signup-model-container .switch-buttons a {
    height: 70px;
    line-height: 70px;
  }
}

.user-form {
  padding: 1.4em;
}
.user-form .fieldset {
  position: relative;
  margin: 1.4em 0;
}
.user-form .fieldset:first-child {
  margin-top: 0;
}
.user-form .fieldset:last-child {
  margin-bottom: 0;
}
.user-form label {
  font-size: 14px;
  font-size: 0.875rem;
}
.user-form label.image-replace {
  /* replace text with an icon */
  display: inline-block;
  position: absolute;
  left: 15px;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 20px;
  width: 20px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  color: transparent;
  text-shadow: none;
  background-repeat: no-repeat;
  background-position: 50% 0;
}
.user-form label.username-box {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/148866/cd-icon-username.svg");
}
.user-form label.email-box {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/148866/cd-icon-email.svg");
}
.user-form label.password-box {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/148866/cd-icon-password.svg");
}
.user-form input {
  margin: 0;
  padding: 0;
  border-radius: 0.25em;
}
.user-form input.full-width {
  width: 100%;
}
.user-form input.has-padding {
  padding: 12px 20px 12px 50px;
}
.user-form input.has-border {
  border: 1px solid #d2d8d8;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}
.user-form input.has-border:focus {
  border-color: #343642;
  box-shadow: 0 0 5px rgba(52, 54, 66, 0.1);
  outline: none;
}
.user-form input.has-error {
  border: 1px solid #d76666;
}
.user-form input[type=password] {
  /* space left for the HIDE button */
  padding-right: 65px;
}
.user-form input[type=submit] {
  padding: 16px 0;
  cursor: pointer;
  background: #2f889a;
  color: #FFF;
  font-weight: bold;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}
.no-touch .user-form input[type=submit]:hover, .no-touch .user-form input[type=submit]:focus {
  background: #3599ae;
  outline: none;
}
.user-form .hide-password {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
  padding: 6px 15px;
  border-left: 1px solid #d2d8d8;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 14px;
  font-size: 0.875rem;
  color: #343642;
}
.user-form .error-message {
  display: inline-block;
  position: absolute;
  left: -5px;
  bottom: -35px;
  background: rgba(215, 102, 102, 0.9);
  padding: .8em;
  z-index: 2;
  color: #FFF;
  font-size: 13px;
  font-size: 0.8125rem;
  border-radius: 0.25em;
  /* prevent click and touch events */
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.2s 0, visibility 0 0.2s;
  -moz-transition: opacity 0.2s 0, visibility 0 0.2s;
  transition: opacity 0.2s 0, visibility 0 0.2s;
}
.user-form .error-message::after {
  /* triangle */
  content: '';
  position: absolute;
  left: 22px;
  bottom: 100%;
  height: 0;
  width: 0;
  border-bottom: 8px solid rgba(215, 102, 102, 0.9);
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
}
.user-form .error-message.is-visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.2s 0, visibility 0 0;
  -moz-transition: opacity 0.2s 0, visibility 0 0;
  transition: opacity 0.2s 0, visibility 0 0;
}
@media only screen and (min-width: 600px) {
  .user-form {
    padding: 2em;
  }
  .user-form .fieldset {
    margin: 2em 0;
  }
  .user-form .fieldset:first-child {
    margin-top: 0;
  }
  .user-form .fieldset:last-child {
    margin-bottom: 0;
  }
  .user-form input.has-padding {
    padding: 16px 20px 16px 50px;
  }
  .user-form input[type=submit] {
    padding: 16px 0;
  }
}

.user-form-message {
  padding: 1.4em 1.4em 0;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.4;
  text-align: center;
}
@media only screen and (min-width: 600px) {
  .user-form-message {
    padding: 2em 2em 0;
  }
}

.user-form-bottom-message {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -30px;
  text-align: center;
  font-size: 14px;
  font-size: 0.875rem;
}
.user-form-bottom-message a {
  color: #FFF;
  text-decoration: underline;
}

.close-form {
  /* form X button on top right */
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  right: 0;
  top: -40px;
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/148866/cd-icon-close.svg") no-repeat center center;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
@media only screen and (min-width: 1170px) {
  .close-form {
    display: none;
  }
}

#login-button, #signup-button, #reset-password {
  display: none;
}

#login-button.is-selected, #signup-button.is-selected, #reset-password.is-selected {
  display: block;
}

/* Main web page styling upon opening Favourite List Menu*/
#main-page {
    padding: 5px;
	transition: margin-left .7s;/*Transformation speed of main web page, keep the same speed as fav-nav transition speed */
}

/* Favourite Menu Styling---------------------- */
.fav-nav {
	width: 0; /* Initial closed state */
    height: 100%;
    position: fixed;
	background-color: #29497c; /* Placeholder colour atm*/
    z-index: 1; /* Keep this at 1 so that the Fav menu can remain on top of other elements*/
    left: 0;
	top: 19%; /* y-Position of menu, 19% = at height of sublet images */ 
    overflow-x: hidden; /* Hides link contents when Favourite menu is closed*/
    padding-top: 50px; /* Favourite menu Link positional padding */
    transition: 0.7s; 
}


/* Favourite menu link styling */
.fav-nav a {
    padding: 12px 12px 12px 28px;
	font-size: 42px;   
    color: #ffffff;
    display: block;
    transition: 0.4s;
}

/* State of favourite menu links on mouse hover */
.fav-nav a:hover{
    color: #3104f7;
}

/* Favourite opening button styling*/
.favourite-button{
  position: fixed;
  overflow: hidden;
  text-align: center;
  top: 18%;
  left: 0;
  right: 0;
  width: 9%;
  height: 1.5%;
  padding:0,0,0,0;
  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);

  background-color: #f1f1f1;
  color: #2d2d2d;

  -moz-transform:rotate(90deg);
  -o-transform:rotate(90deg);
  -webkit-transform:rotate(90deg);
  transform-origin: bottom left;
  
}
/* Favourite Menu cancel button styling*/
.fav-nav .cancel-button {
    margin-left: 3%;
    top: 0;
	position: absolute;
    font-size: 20px;
    
}

#report-title {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #3599ae;
  color: #f1f1f1;
}
.report-model {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(52, 54, 66, 0.9);
  z-index: 3;
  overflow-y: auto;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.3s 0, visibility 0 0.3s;
  -moz-transition: opacity 0.3s 0, visibility 0 0.3s;
  transition: opacity 0.3s 0, visibility 0 0.3s;
}
.report-model.is-visible {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity 0.3s 0, visibility 0 0;
  -moz-transition: opacity 0.3s 0, visibility 0 0;
  transition: opacity 0.3s 0, visibility 0 0;
}
.report-model.is-visible .report-model-container {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}

.report-model-container {
  position: relative;
  width: 90%;
  max-width: 600px;
  background: #FFF;
  margin: 3em auto 4em;
  cursor: auto;
  border-radius: 0.25em;
  -webkit-transform: translateY(-30px);
  -moz-transform: translateY(-30px);
  -ms-transform: translateY(-30px);
  -o-transform: translateY(-30px);
  transform: translateY(-30px);
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.switch-buttons {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.report-container .switch-buttons::after {
  clear: both;
  content: "";
  display: table;
}
.report-container .switch-buttons li {
  width: 50%;
  float: left;
  text-align: center;
}
.report-container .switch-buttons li:first-child a {
  border-radius: .25em 0 0 0;
}
.report-container .switch-buttons li:last-child a {
  border-radius: 0 .25em 0 0;
}
.report-container .switch-buttons a {
  display: block;
  width: 100%;
  height: 50px;
  line-height: 50px;
  background: #d2d8d8;
  color: #809191;
}
.report-container .switch-buttons a.selected {
  background: #FFF;
  color: #505260;
}
@media only screen and (min-width: 600px) {
  .report-container {
    margin: 4em auto;
  }
  .report-container .switch-buttons a {
    height: 70px;
    line-height: 70px;
  }
}

.user-form input {
  margin: 0;
  padding: 0;
  border-radius: 0.25em;
}
.user-form textarea.full-width {
  width: 100%;
  height: 100px;
}


.user-form textarea.has-border {
  border: 1px solid #d2d8d8;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}
.user-form textarea.has-border:focus {
  border-color: #343642;
  box-shadow: 0 0 5px rgba(52, 54, 66, 0.1);
  outline: none;
}







/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
