#nav_a {
  color: grey;
  margin-left: 5px;
  margin-top: 5px;
  font-weight: bold;
}

#nav_a:hover {
	color: green;
}


.hello {
  color: green;
}

#sublet_title {
	color:black;
	
}

#sublet_title:hover {
	color:blue;
	
}


